# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- knowing how to use markdown (ordered/unordered lists, tables, etc.)
- listing data science languages;
- listing data science libraries
- listing data science tools;
- being able to implement basic arithmetic expressions

## Author
Andrea

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Scikit-learn
4. TensorFlow
5. Keras

|Data Science Tools|
|------------------|
|Apache Airflow|
|Cognos Analytics|
|MongoDB|
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335